{% extends "accounts/base.html" %}

{% block title %}Shipping Dashboard{% endblock %}

{% block content %}
<div class="row">
    <!-- Sidebar -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Track Shipments</a></li>
            <li class="list-group-item"><a href="#">Manage Carriers</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>Shipping Management</h1>
        <!-- Add shipping-related content -->
    </main>
</div>
{% endblock %}
